overpy==0.6
django==4.1.6
numpy==1.24.1
pandas==1.5.3
googlemaps==4.10.0
beautifulsoup4==4.11.2
GDAL-3.4.3-cp39-cp39-win_amd64.whl
Fiona-1.8.21-cp39-cp39-win_amd64.whl
pyproj-3.2.1-cp39-cp39-win_amd64.whl
Rtree-1.0.0-cp39-cp39-win_amd64.whl
Shapely-1.8.2-cp39-cp39-win_amd64.whl
redis==4.3.4
django-rq==2.5.1
Cython==0.29.33
postgis==1.0.4
osmnx==1.3.0
cykhash==1.0.2
git+https://github.com/Denikozub/Offroad-routing-engine.git#egg=offroad_routing