
{% extends 'main/prime_base.html' %}

{% block title %} Home {% endblock %}


{% block content %}

<br><br>
<br><br>


<h1 align="center">Welcome to Adamas Audio</h1>


<!-- <div class = "addv_1">

    <iframe src="//approachconducted.com/watchnew?key=c29fcdc3f64fa09a1645baf5381d1db3" 
    width="160" height="600" frameborder="0" scrolling="no">
  
    </iframe>
  
</div> 

<div class = "addv_2">

    <iframe src="//approachconducted.com/watchnew?key=78a6e9d8c53e2a12084ee68774d03b10" 
    width="160" height="600" frameborder="0" scrolling="no"></iframe>
  
    </iframe>
  
</div> 


<div class = "addv_3">

    <iframe src="//approachconducted.com/watchnew?key=c41eccbc95b8f7385b3be7f65a414909" 
    width="160" height="600" frameborder="0" scrolling="no"></iframe>
  
    </iframe>
  
</div> 


<div class = "addv_4">

    <iframe src="//approachconducted.com/watchnew?key=9393450911d254647752f9108f1fd9f8" 
    width="160" height="600" frameborder="0" scrolling="no"></iframe>
  
    </iframe>
  
</div>  -->

<br><br>

<div class= "Home_intro">

    <b align="center">


        This website is designed to allow fast and cheap production of
        Audiobooks. A full elaboration is given on the medium article 
        
        <a href="https://adamas-audio.medium.com/adamas-audio-machine-learning-and-web-development-to-produce-cheap-audiobooks-and-voice-cloning-a05608e4485f/" 
        target="_blank" rel="noopener noreferrer"> Adamas Audio Medium Article </a>.
        
        
        
        <br> <br>

        The Conventional Audio will be divided into 2 choices:
        Default and Custom controls; in the Default mode the default audio settings
        will be used. In Custom controls, the audio controls will be asked for as inputs
        for the user to provide and a custom audio file/ audiobook will be generated as
        per user specification.

        <br> <br>

        The Voice Synthesis will require an audio file of any users voice one would like to
        replicate with a max size of being 20 MB's due to current technological limitations on
        the site. This in combination of the text provided should generate a synthetic voiceover.
        Current limit will be 6 pages per click, feel free to use this feature as
        many times as you like.

        Results may vary according to audio quality provided to be trained.

        <br> <br>

        The PDF Compression tool will compress PDF's to the maximum extent possible without losing
        quality.

        <br> <br>

        The Audio Merger tool will merge audio files into 1, provided the uploaded files are mp3 files.
        Further extensions maybe offered in the future depending on site performance.


        <br> <br>
        <h2> Future features that maybe added depending on how much user interactivity the website recieves: </h2>
        <br><br>
        i) Audio cleaning tools: in order to clean, segregate and label audio with multiple voices inside it,
           so each one can be used as base audio trainer to produce synthetic audiobooks per user specification.
        <br><br>
        ii) PDF splitting and PDF merging tools, so users can rapidly feed text data into the Voice synthesis feature,
            and can help synthetic audiobook or audioscript production.
        <br><br>
        iii) Increase processing rates and audio training data size for Voice synthesis; this is expensive as RAM is
             expensive and can only be implemented once the website has sufficient users.
        <br><br>
        If you would like to add, additional features please go ahead and use the website url to tweet about it, once
        a contact form is streamlined; I'll be more than happy to hear and try to implement user input. This will be
        the current designated twitter account:
        <a href="https://twitter.com/Adamas_Audio?s=09" target="_blank" rel="noopener noreferrer"> Adamas Audio </a>.

        Feel free to tweet feedback at the account, I'll strive to go through all the feedback.
        Feel free to share across the internet, the more feedback the better the product will be in the future.

        Lastly, high traffic maybe sporadic for now as its running off a single server right now and currently this site
        doesn't have the funds to configure this to a kubernite cluster, as ads are the only source of revenue. As users grow
        we'll try to streamline the software in a kubernite cluster, and add premium services so no ads are required, 
        but for now ads will have to stay, Thank you for your understanding.


        <br> <br>
        <br> <br>

        All data is stored to a maximum of 48 hours for software engineering purposes under the Copyright Act 1976

        Copyright Disclaimer Under Section 107 of the Copyright Act 1976, allowance is made for "fair use" for purposes such as criticism, 
        comment, news reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright 
        statute that might otherwise be infringing. Non-profit, educational or personal use tips the balance in 
        favor of fair use.

        <br> <br>
        <br> <br>
        
        <h2> Thank you for taking the time to read future feature goals</h2>

    </b>

    <br> <br>

    <h1 align="center"> Enjoy your stay! </h1>

</div>



{% endblock %}